@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 75vw;
    margin: 0 auto;
}

header .container,
section .container,
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #3882F6;
    margin-top: .5rem;
    font-weight: 900;
    padding: .5rem 2rem;

    &:hover {
        cursor: pointer;
    }
}

.sign-up-button.bordered {
    border: 2px solid white;
}

header, .hero,footer {
    background-color: #1F2937;
}

nav.navbar > .logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 2rem;
    font-weight: bold;
}

header nav.navbar ul {
    list-style: none;

    a {
        text-decoration: none;
        color: #fff;
    }
}

header nav.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > .nav-links {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.hero {
    padding: 120px 0;
}

.hero .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    align-items: center;

}

.hero .wrapper .hero-text {
    flex: 2;
    flex-wrap: wrap;
    max-width: 30%;

    h1 {
        font-size: 3rem;
        font-weight: 900;
        color: #F9FAF8;
    }

    p {
        font-size: 1rem;
        color: #F5E7EB;
    }

}

.hero img {
    flex-grow: 1;
    width: 400px;
    border-radius: 75%;
    height: auto;
}

.demonstration-achievements {
    padding: 2rem 0 4rem;
}

.demonstration-achievements .achievements-info {
    font-size: 2rem;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 2rem;
    text-align: center;
}

.demonstration-achievements .memes-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.demonstration-achievements .card img {
    border-radius: 10px;
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.demonstration-achievements .card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    p {
        font-size: 1.2rem;
        color: rgba(19, 0, 36, 0.8);
        width: 250px;
    }
}

.quote-section {
    background-color: #E5E7EB;
    padding: 5rem 0;
}

.quote-section .wrapper {
    width: 60%;
}

.quote-section .quote-text {
    font-size: 2rem;
    color: #1F2937;
    font-style: italic;
}

.quote-section .quote-author {
    display: block;
    font-weight: bold;
    text-align: right;
    font-size: 2rem;
}

section.feedback {
    padding: 5rem 0 5rem 0;
}

.feedback .wrapper {
    background-color: #3882F6;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 8rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.feedback .challenge-headline {
    color: #F5E7EB;
    font-size: 1.6rem;
    font-weight: bold;
}

.feedback .challenge-description {
    color: #d9d9d9;
    font-size: 1.2rem;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .wrapper {
    padding: 2rem 0;
    p{
        font-size: 1.2rem;
        color: #ffffff;
    }
}